.action_form {

    border: 0.4em solid #eaeaea ;
    padding: 25px;
    margin: 1em 1em 1em 1em ;
	  padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: left;
    width: 75%;
}

.action_starbucks label {

    font-weight: bold;
}
.action_email input[type="text"], .action_email textarea {

  border: 0.5em solid #eaeaea ;
	background-color: rgb(242, 242, 242);

    width: 75%;
    text-align: left;
	  padding: 1em 1em 1em 1em;

}
.action_starbucks .provider {
  display: inline-block;
  margin: 0.1em 0.1em 0.1em 0.1em;

}
.action_starbucks .provider a {
  border-bottom: 0.5em solid #eaeaea;
  cursor: default;
}

.action_starbucks span {
  display: block;
}

.action_email_data {display: None;}
